@charset "UTF-8";

/* Pagina de inicio */

body {
    font-family: monospace;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.pagina-conteudo {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#abrir-modal {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
}

#abrir-modal:hover {
    background-color: #0056b3;
}

#abrir-modal:active {
    background-color: #00439a;
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
}

#modal-overlay.visivel {
    opacity: 1;
    visibility: visible;
}

#modal-conteudo {
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  min-width: 300px;
  max-width: 80%;
  font-family: monospace;
  position: relative;
  font-size: 16px;

  /* efeito pop-up */
  transform: scale(0.7);
  transition: transform 0.3s ease-in-out;
}

/* 6. Efeito "Pop" quando o modal fica visível */
#modal-overlay.visivel #modal-conteudo {
    transform: scale(1);
}

.btn-fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    line-height: 1;
}

.btn-fechar:hover {
    color: #007BFF;    
}

.btn-fechar:active {
    color: #0056b3;
}


