body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #3F528C;
}

.header {
  background-color: #1E2040;
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  text-align: center;
  color: #D9B6A9;
  font-size: 2rem;
}

.main {
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card-title {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  font-weight: bold;
}

.card-price {
  color: #555;
  margin-bottom: 0.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: #0D090B;
  color: #D9B6A9;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-right: 0.5rem;
  text-align: center;
}

.btn:hover {
  background-color: #3F528C;
}

footer {
  background-color: #1E2040;
  color: #D9B6A9;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Responsividade */
@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
